# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*


# IDE
.idea/
.vscode/
*.swp
*.swo
uv.lock

# Environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# OS
.DS_Store
Thumbs.db
**/.DS_Store

# Logs and databases
*.log
*.sqlite

# Python
.python-version
hello.py
pyproject.toml
__pycache__/